# ==========================
# Dependency & Package Files
# ==========================
node_modules/
.pnp/
.pnp.js
package-lock.json
npm-debug.log*
yarn.lock
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ==========================
# Build Outputs
# ==========================
.next/
out/
build/
dist/

# ==========================
# Test & Coverage
# ==========================
coverage/

# ==========================
# Environment Variables
# ==========================
.env
.env.local
.env.*.local

# ==========================
# Framework / Hosting
# ==========================
.vercel/
.netlify/

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo
next-env.d.ts
# ==========================
# Miscellaneous / System Files
# ==========================
.DS_Store
Thumbs.db
*.pem

# ==========================
# IDE / Editor Settings
# ==========================
.idea/
.vscode/
*.code-workspace
